@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>


<div class="row align-items-center justify-content-center">
    <div class="col-lg-4">
        <img class="rounded-circle" alt="xyy" src="~/images/xyy.jpg" width="140" height="140">
        <h2>Yangyang</h2>
        <p> ........</p>
        <p><a class="btn btn-secondary" href="remosyxu@gmail.com" role="button">Contact Me &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
        <img class="rounded-circle" alt="qyk" src="~/images/qyk.jpg" width="140" height="140">
        <h2>Yukai</h2>
        <p> ......</p>
        <p><a class="btn btn-secondary" href="qyk132@gmail.com" role="button">Contact Me &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
</div><!-- /.row -->
